*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
}

#header{
    height: 12%;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    background-color: white;
    
}


#logo{
    height: 70%;
    margin: 15px;;
}


#logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search{
    padding: 10px;
    border-radius: 40%;
    right: 19%;
    align-items: end;
    position: absolute;
    font-size: 22px;
}

.search:hover{
    background-color: lightblue;
}
.earth{
    padding: 10px;
    border-radius: 40%;
    right: 16%;
    align-items: end;
    position: absolute;
    font-size: 20px;

}

.earth:hover{
    background-color: lightblue;
}

#Login{
    display: flex;
    padding: 10px;
    align-items: end;
    border-radius: 35%;
    position: absolute;
    right: 10%;
    font-size: 20px;
    
}

#Login:hover{
    background-color:lightblue
}

#try {
    background-color: green;
    color: white;
    padding: 15px;
    align-items: end;
    border-radius: 10px;
    margin: 10px;
    position: absolute; 
    right: 10px; 
    top: 10px; 
}

#try:hover {
    background-color: rgb(1, 56, 1);
}


.headertext{
    margin: 20px;
    display: flex;
    color: rgb(4, 4, 95);
    font-weight: bold;
}

.headertext:hover{
     color: rgb(17, 178, 231);
}

#contactus{
    color: rgb(2, 2, 70);
    margin-left: 70px;
    right: 25%;
    align-items: end;
    position: absolute;
}

.contactus:hover{
    color: rgb(32, 184, 235);
}

#hiddenheader{
    height: 12%;
    width: 100%;
    background-color: white;

}



#page1{
    width: 100%;
    height: 90%;
    background-color: rgb(247, 246, 246);
}

#infoStrip{
    height: 6%;
    width: 100%;
    color: aliceblue;
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color:rgb(4, 4, 95);
}

#infoStrip u{
    margin: 20px;
}

#content{
    width: 100%;
    height: 78%;
    background-color: rgb(255, 255, 255);
}

#box1{
    height: 100%;
    width: 50%;
    text-align: center;
    background-color: antiquewhite;
}

#heading{
    width: 100%;
    height: 16%;
    font-size: 50px;
    font-weight: 1000;
    background-color: rgb(255, 255, 255);
    justify-content: center;
    align-items: center;
    color: rgba(3, 10, 75, 0.966);
    display: flex;
}
#page2{
    width: 100%;
    height: 100%;
    background-color: white;
}

